:root{
    --color-fondo: #FFF4FD;
    --fondo-bienvenidos:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    --crear_gifos_background : #F7C9F3;
    --creargifos_box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --creargifos_color:#110038;
    --crear_gifos_background_hover:#E6BBE2;
    --creargifos_box-shadow_hover:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --crear_gifos_background_active:#E6BBE2;
    --creargifos_box-shadow_active:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --tema_background:#F7C9F3;
    --tema_color:#110038;
    --tema_box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --img_tema_background:#F7C9F3;
    --img_tema_box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --elegir_tema-hover_background:#E6BBE2;
    --elegir_tema-hover_box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
    --elegir_tema-active_background:#E6BBE2;
    --elegir_tema-active_box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
    --selector-tema_background:#E6E6E6;
    --selector-tema_box-shadow:inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    --temaclaro_background:#FFF4FD;
    --temaclaro_border:1px solid #CCA6C9;
    --temaclaro_box-shadow:inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    --temaoscuro_background:#F0F0F0;
    --temaoscuro_border:1px solid #808080;
    --temaoscuro_box-shadow:inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    --temaoscuro_color:#110038;
    --mis_gifos_color:#110038;
    --misgifos_hover-border:1px dotted #110038;
    --misgifos_active-color:lightslategray;
    --contenedor_buscar-background:#E6E6E6;
    --contenedor_buscar-box-shadow:inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    --titulo_buscar-background:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    --boton_busqueda_inactive-background:#E6E6E6;
    --boton_busqueda_inactive-box-shadow:inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    --boton_busqueda_inactive-color:#B4B4B4;
    --boton_busqueda_active-background:#F7C9F3;
    --boton_busqueda_active-box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --boton_busqueda_active-color:#110038;
    --boton_busquedaactive-background: #E6BBE2;
    --boton_busquedaactive-box-shadow:inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    --contened_posibilidades_busqueda-background:#E6E6E6;
    --contened_posibilidades_busqueda-box-shadow:inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    --posibilidad_busqueda_opciones-background: #F0F0F0;
    --titulo_sugerencias_tendencias-border: 1px solid #E6BBE2;
    --contenedor_titulo_sugerencias-background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    --btn_sugerencias-background: #4180F6;
    --btn_sugerencias-box-shadow:inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    --contenido_busqueda_individual_tendencias-background:linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    --contenedor_instrucciones_box-shadow :inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    --btn-cancelar-background : #F0E5EE;
    --contenedor-video-box-shadow:inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  }
  
  
  .dark{
    --color-fondo: #110038;
    --fondo-bienvenidos: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --crear_gifos_background : #EE3EFE;
    --creargifos_box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --creargifos_color:#FFFFFF;
    --crear_gifos_background_hover:#CE36DB;
    --creargifos_box-shadow_hover:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --crear_gifos_background_active:#CE36DB;
    --creargifos_box-shadow_active:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --tema_background:#EE3EFE;
    --tema_color:#FFFFFF;
    --tema_box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --img_tema_background:#EE3EFE;
    --img_tema_box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --elegir_tema-hover_background: #CE36DB;
    --elegir_tema-hover_box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --elegir_tema-active_background:#CE36DB;
    --elegir_tema-active_box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --selector-tema_background:#B4B4B4;
    --selector-tema_box-shadow:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    --temaclaro_background:#CCCCCC;
    --temaclaro_border:1px solid #808080;
    --temaclaro_box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    --temaoscuro_background: #2E32FB;
    --temaoscuro_border: 1px solid rgba(51,53,143,0.20);
    --temaoscuro_box-shadow:inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    --temaoscuro_color:#FFFFFF;
    --mis_gifos_color: #FFFFFF;
    --misgifos_hover-border:1px dotted #FFFFFF;
    --misgifos_active-color:#B4B4B4;
    --contenedor_buscar-background:#B4B4B4;
    --contenedor_buscar-box-shadow:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    --titulo_buscar-background:linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --boton_busqueda_inactive-background: #B4B4B4;
    --boton_busqueda_inactive-box-shadow:inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    --boton_busqueda_inactive-color:#8F8F8F;
    --boton_busqueda_active-background:#EE3EFE;
    --boton_busqueda_active-box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --boton_busqueda_active-color:#FFFFFF;
    --boton_busquedaactive-background:#CE36DB;
    --boton_busquedaactive-box-shadow:inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    --contened_posibilidades_busqueda-background: #B4B4B4;
    --contened_posibilidades_busqueda-box-shadow:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    --posibilidad_busqueda_opciones-background:#CCCCCC;
    --titulo_sugerencias_tendencias-border: 1px solid #2E32FB;
    --contenedor_titulo_sugerencias-background: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --btn_sugerencias-background:#2E32FB;
    --btn_sugerencias-box-shadow:inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    --contenido_busqueda_individual_tendencias-background:linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    --contenedor_instrucciones_box-shadow:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    --btn-cancelar-background :#6442c2;
    --contenedor-video-box-shadow:inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  }