/*Clases globales*/
body{
  margin: 0;
  padding: 0;
  background-color: #FFF4FD;
}

.display-none {
  display: none;
}
/*Clase mensaje inicial*/
.bienvenidos{
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038;
  border: black solid 1px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 10px;
}

.contenedor{
  position: relative;
  margin-left: 7%;
  margin-right: 9%;
}


/* Barra de Navegacion */
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40px;
}

.logo {
  position: absolute;
  width: 100px;
  height: 64px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  margin: 0 5px 0 5px;
}

.crear_gifos{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 5px 20px 5px 20px ;
  margin-right: 10px;
  display: inline-table;


}

.crear_gifos:hover{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  border: 1px dotted #110038;
}

.crear_gifos:active{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  border: 1px dotted #110038;
}

.tema{
  display: flex;
  justify-content: start;
  position: relative;
  
}
.elegir_tema{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 5px 20px 5px 20px ;
  margin-right: 0px;
}


.img_tema{
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 5px 10px 5px 10px ;
  margin-right: 5px;
}


.elegir_tema:hover{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
  border: 1px dotted #110038;
}

.tema:hover .img_tema , .tema.hover .img_tema{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
  border: 1px dotted #110038;
}

.elegir_tema:active{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
  border: 1px dotted #110038;
}

.tema:active .img_tema , .tema.active .img_tema{
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; 
  border: 1px dotted #110038;
}

.tema_general{
  display: flex;
  flex-direction: column;
}

#elegirtema{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 138px;
  margin-left: 5px ;
  padding: 10px;
  position: absolute;
  z-index: 999999;
  top: 100%;
  display: none;
  }

#tema_claro{
  background: #FFF4FD;
border: 1px solid #CCA6C9;
box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
font-family: 'Chakra Petch', sans-serif;
font-size: 16px;
color: #110038;
letter-spacing: 0;
line-height: 22px;
margin-bottom: 10px;
padding: 7px;
}

#tema_oscuro{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #F0F0F0;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
padding: 7px;
}

.styleM{
  text-decoration: underline;
}
.mis_gifos{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  padding: 5px 10px 5px 0;
  margin-right: -8px;

}

.mis_gifos:hover{
  border: 1px dotted #110038;
}

.mis_gifos:active{
color: lightslategray;
}


/*Seccion Buscar*/

.contenedor_buscar{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  top: 100px;
  position: relative;
  }

.titulo_buscar{
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.busqueda{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;

}

.input_busqueda{
  padding: 10px 0 10px 0;
  position: relative;
  margin-right: 1%;
  width: 100%;

}

.boton_busqueda_inactive{
  background: #E6E6E6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
}

.boton_busqueda_active{
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
}

#boton_busqueda:active {
  background: #E6BBE2;
  border: 1px dotted #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 6px 12px 6px 12px;
}


.titulo_busqueda_resultado{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  top: 150px;
  position: relative;
  padding: 7px;
}

.contened_posibilidades_busqueda{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  margin-top: -3px;
}

li{
  list-style: none;
}

.posibilidad_busqueda_opciones{
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 1020px;
  margin-left: -30px ;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 5px;
  padding: 3px 0px 3px 3px;
  margin-top: 5px;

}
.posibilidad_busqueda_opciones:active{
  border: 1px dotted #110038;
  color: #110038;
  position: relative;
  background: #DBDBDB;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}
.contenido_busqueda {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 150px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.contenido_busqueda_individual {
  padding-left: 3px;
  padding-bottom: 8px;
}

/*Seccion Sugerencias*/

.sugerencias{
  margin-top: 170px;
}

.titulo_sugerencias_tendencias {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding: 7px;
}

  .contenido_sugerencias{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    justify-content: space-between;

  }

  .contenido_busqueda_individual_sugerencias{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    height: 314px;
    width: 275px;
    align-self: center;

  }

  .contenedor_titulo_sugerencias{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  }

  .titulo_contenidobusquedaindividual{
   font-family: 'Chakra Petch', sans-serif;  
   font-size: 14px;
   color: #FFFFFF;
   letter-spacing: 0;
   font-weight: bold;
   position: relative;
   z-index: 99999;
   margin-top: 0;
   padding: 5px;
  }

  .closed{
  margin-right: 5px;
  margin-bottom: 7px;

  }
  .img_sugerencias{
    position: relative;
    margin-top: -10px;
    padding-top: 0;
    ;
  }

  .img_sugerencias:hover{
    border: 1px dotted #110038;

  }
.btn_sugerencias{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  padding: 8px;
  position: relative;
  z-index: 99999;
  margin-top: -60px;
  margin-left: 10px;
  display: flex;
  justify-content: left;
}

.contenido_busqueda_individual_sugerencias:hover .btn_sugerencias , .contenido_busqueda_individual_sugerencias.hover .btn_sugerencias{
  border: 1px dotted #110038;
}


 /*Seccion Tendencias*/

.tendencias{
  position: relative;
  margin-top: 70px;
}

.contenido_tendencias{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  justify-content: space-between;

}

.titulo_tendenciasindividual{
  display: none;
}

.contenido_busqueda_individual_tendencias:hover .titulo_tendenciasindividual, .contenido_busqueda_individual_tendencias.hover .titulo_tendenciasindividual {
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  position: relative;
  z-index: 99999;
  margin: 0;
  display: block;
  margin-top: -30px;
  padding: 3px;
}

.img_tendencias:hover{
  border: 1px dotted #110038;
}


