/*Clases globales*/
body{
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
}

.display-none {
  display: none;
}


/*Clase mensaje inicial*/
.bienvenidos{
  background-image: var(--fondo-bienvenidos);
  box-shadow: 0 1px 0 0 #110038;
  border: black solid 1px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left: 10px;
}

.contenedor{
  position: relative;
  margin-left: 7%;
  margin-right: 9%;
}


/* Barra de Navegacion */
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40px;
}

.logo {
  position: absolute;
  width: 100px;
  height: 64px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
  margin: 0 5px 0 5px;
}

.crear_gifos{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: var(--creargifos_color);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: var(--crear_gifos_background);
  border: 1px solid #110038;
  box-shadow: var(--creargifos_box-shadow);
  padding: 5px 20px 5px 20px ;
  margin-right: 10px;
  display: inline-table;


}

.crear_gifos:hover{
  background: var(--crear_gifos_background_hover);
  border: 1px solid #110038;
  box-shadow: var(--creargifos_box-shadow_hover);
  border: 1px dotted #110038;
}

.crear_gifos:active{
  background: var(--crear_gifos_background_active);
  box-shadow: var(--creargifos_box-shadow_active);
  border: 1px dotted #110038;
}

.tema{
  display: flex;
  justify-content: start;
  position: relative;
  
}
.elegir_tema{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: var(--tema_color);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: var(--tema_background);
  border: 1px solid #110038;
  box-shadow: var(--tema_box-shadow);
  padding: 5px 20px 5px 20px ;
  margin-right: 0px;
}


.img_tema{
  background: var(--tema_background);
  border: 1px solid #110038;
  box-shadow:var(--tema_box-shadow);
  padding: 5px 10px 5px 10px ;
  margin-right: 5px;
}


.elegir_tema:hover{
  background: var(--elegir_tema-hover_background);
  box-shadow: var(--elegir_tema-hover_box-shadow);
  border: 1px dotted #110038;
}

.tema:hover .img_tema , .tema.hover .img_tema{
  background:var( --elegir_tema-hover_background);
  box-shadow: var(--elegir_tema-hover_box-shadow);
  border: 1px dotted #110038;
}

.elegir_tema:active{
  background: var(--elegir_tema-active_background);
  box-shadow: var(--elegir_tema-active_box-shadow);
  border: 1px dotted #110038;
}

.tema:active .img_tema , .tema.active .img_tema{
  background:var(--elegir_tema-active_background);;
  box-shadow: var(--elegir_tema-active_box-shadow);
  border: 1px dotted #110038;
}

.tema_general{
  display: flex;
  flex-direction: column;
}

#selectorTema{
  background: var(--selector-tema_background);
  box-shadow: var(--selector-tema_box-shadow);
  width: 138px;
  padding: 10px;
  position: absolute;
  z-index: 999999;
  top: 100%;
  }

#tema_claro{
background: var(--temaclaro_background);
border: var(--temaclaro_border);
box-shadow: var(--temaclaro_box-shadow);
font-family: 'Chakra Petch', sans-serif;
font-size: 16px;
color: #110038;
letter-spacing: 0;
line-height: 22px;
margin-bottom: 10px;
padding: 7px;
}

#tema_oscuro{
font-family: 'Chakra Petch', sans-serif;
font-size: 16px;
color: var(--temaoscuro_color) ;
letter-spacing: 0;
line-height: 22px;
background: var(--temaoscuro_background) ;
border: var(--temaoscuro_border);
box-shadow: var(--temaoscuro_box-shadow);
padding: 7px;
}

.styleM{
  text-decoration: underline;
}
.mis_gifos{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: var(mis_gifos_color);
  letter-spacing: 0;
  line-height: 18px;
  padding: 5px 10px 5px 0;
  margin-right: -8px;

}

.mis_gifos:hover{
  border: var(--misgifos_hover-border);
}

.mis_gifos:active{
color: var(--misgifos_active-color) ;
font-family: 'Chakra Petch', sans-serif;
font-size: 16px;
letter-spacing: 0;
line-height: 18px;
}


/*Seccion Buscar*/

.contenedor_buscar{
  background: var(--contenedor_buscar-background);
  box-shadow: var(--contenedor_buscar-box-shadow);
  top: 100px;
  position: relative;
  }

.titulo_buscar{
  background-image: var( --titulo_buscar-background);
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.busqueda{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 10px;

}

.input_busqueda{
  padding: 10px 0 10px 0;
  position: relative;
  margin-right: 1%;
  width: 100%;

}

.boton_busqueda_inactive{
  background: var(--boton_busqueda_inactive-background) ;
  border: 1px solid #808080;
  box-shadow:var( --boton_busqueda_inactive-box-shadow);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: var(--boton_busqueda_inactive-color);
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
}

.boton_busqueda_active{
  background: var(--boton_busqueda_active-background);
  border: 1px solid #110038;
  box-shadow: var( --boton_busqueda_active-box-shadow);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: var(--boton_busqueda_active-color);
  letter-spacing: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
}

#boton_busqueda:active {
  background:var(--boton_busquedaactive-background);
  border: 1px dotted #110038;
  box-shadow: var(--boton_busquedaactive-box-shadow);
  padding: 6px 12px 6px 12px;
}


.titulo_busqueda_resultado{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  top: 150px;
  position: relative;
  padding: 7px;
}

.contened_posibilidades_busqueda{
  background: var( --contened_posibilidades_busqueda-background) ;
  box-shadow: var(--contened_posibilidades_busqueda-box-shadow);
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;
  margin-top: -3px;
}

li{
  list-style: none;
}

.posibilidad_busqueda_opciones{
  background: var(--posibilidad_busqueda_opciones-background);
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 1000px;
  margin-left: -30px ;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 5px;
  padding: 3px 0px 3px 3px;
  margin-top: 5px;

}

.posibilidad_busqueda_opciones:hover{
  border: 1px dotted #110038;
}

.posibilidad_busqueda_opciones:active{
  border: 1px dotted #110038;
  color: #110038;
  position: relative;
  background: #DBDBDB;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}
.contenido_busqueda {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 150px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.contenido_busqueda_individual {
  padding-left: 3px;
  padding-bottom: 8px;
}

/*Seccion Sugerencias*/

.sugerencias{
  margin-top: 170px;
}

.titulo_sugerencias_tendencias {
  background: #FFFAFE;
  border: var(--titulo_sugerencias_tendencias-border);
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding: 7px;
}

  .contenido_sugerencias{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
    justify-content: space-between;

  }

  .contenido_busqueda_individual_sugerencias{
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    height: 314px;
    width: 275px;
    align-self: center;

  }

  .contenedor_titulo_sugerencias{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: var(--contenedor_titulo_sugerencias-background);
  }

  .titulo_contenidobusquedaindividual{
   font-family: 'Chakra Petch', sans-serif;  
   font-size: 14px;
   color: #FFFFFF;
   letter-spacing: 0;
   font-weight: bold;
   position: relative;
   z-index: 99999;
   margin-top: 0;
   padding: 5px;
  }

  .closed{
  margin-right: 5px;
  margin-bottom: 7px;

  }
  .img_sugerencias{
    position: relative;
    margin-top: -10px;
    padding-top: 0;
    ;
  }

  .img_sugerencias:hover{
    border: 1px dotted #110038;

  }
.btn_sugerencias{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background:var(--btn_sugerencias-background);
  border: 1px solid #4C2F99;
  box-shadow: var(--btn_sugerencias-box-shadow);
  padding: 8px;
  position: relative;
  z-index: 99999;
  margin-top: -60px;
  margin-left: 10px;
  display: flex;
  justify-content: left;
}

.contenido_busqueda_individual_sugerencias:hover .btn_sugerencias , .contenido_busqueda_individual_sugerencias.hover .btn_sugerencias{
  border: 1px dotted #110038;
}


 /*Seccion Tendencias*/

.tendencias{
  position: relative;
  margin-top: 70px;
}

.contenido_tendencias{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10px;
  justify-content: space-between;

}

.titulo_tendenciasindividual{
  display: none;
}

.contenido_busqueda_individual_tendencias:hover .titulo_tendenciasindividual, .contenido_busqueda_individual_tendencias.hover .titulo_tendenciasindividual {
  background-image: var(--contenido_busqueda_individual_tendencias-background);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  position: relative;
  z-index: 99999;
  margin: 0;
  display: block;
  margin-top: -30px;
  padding: 3px;
}

.img_tendencias:hover{
  border: 1px dotted #110038;
}


